* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.App {
    width: 900px;
    
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    background: black;
    height: 60px;
    
}
.header__end {
    
    margin-left: 500px;
    
    
}

.NavLink {
    text-decoration: none;
}

.magic__title {
    width: 130px;
    height: 60px;
    
}

.login__form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

